configuration {
 modi: "run,drun,window,ssh,combi";
 theme: "~/.cache/wal/colors-rofi-dark";
 combi-modi: "window,drun,ssh";
 show-icons: true;
}
@import "/usr/share/rofi/themes/gruvbox-light-soft.rasi"
